.header{
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    padding:15px 0;
    background-color: #fff;
}
.header#is-sticky{
    z-index: 999;
    box-shadow: 0 2px 15px 0 rgb(136 135 135 / 40%);
    background: #ffffff !important;
    animation: 500ms ease-in-out 4s normal fadeInDown;
    transition: 0.4s;
    padding: 5px 0;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.logo{
    width:20%;
}
.logo img{
    max-width: 100%;
}
ul.menu{
    flex-grow: 1;
    list-style: none;
    margin:0;
}
ul.menu li{
    padding:0 10px;
    position: relative;
}
ul.menu li a{
    display:block;
    padding: 10px 10px;
    font-size: 15px;
    color:#555;
    text-transform: capitalize;
    font-family: 'Cabin', sans-serif;
}
ul.menu li a:hover{
    color:#000;
}

.ulcat{
    -webkit-box-shadow:  3px 3px 10px 0px #ccc;
    box-shadow: 3px 3px 10px 0px #ccc;
    background: #ffffff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 230px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0px;
    margin:0;
    list-style: none;
}
ul.menu>li:hover .ulcat{
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
ul.ulcat li{
}
ul.ulcat li a{
    padding: 10px 0 10px 0;
    transition: 0.3s all;
}
ul.ulcat li a:hover{
    padding: 10px 0 10px 10px;
}
.header-btn{
    padding: 0 0 0 10px;
}

.header-btn a.btn-login{
    margin:0 15px 0 0;
}
ul.menu li a.active{
    color:#007bff
}