body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap-content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
a:hover{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: initial;
}
.title-index{
  text-align: center;
  font-size: 33px;
  color: #505060;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.title-index p{
    color: #959094;
    font-size: 14px;
    font-weight: 500;
    margin:10px 0 0;
}
.padding{
  padding: 70px 0;
}

a.btn-a{
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 15px rgb(123 104 238 / 15%);
  color: #ffffff;
  background-color: #5e87eb;
  border-radius: 25px;
  overflow:hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
}

a.btn-a:before{
  position:absolute;
  content:'';
  width: 100%;
  height: 100%;
  background: #3e57d0;
  left:0;
  top:0;
  transition:0.3s all;
  z-index: -1;
  transform: scale(0,1);
}
a.btn-a:hover:before{
  transform: scale(1,1);
}

.contentWapper{
  position: relative;
    z-index: 1;
    background-image: url(../assets/images/imagesall/page-title-bg.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.contentWapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-color: #5e87eb;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}
.page-title-box{
  width:100%;
  text-align: center;
  padding: 50px 0 0;
}
.page-title-content{
  margin-bottom: 0;
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
}
.breadcrumb{
  background: transparent;
  margin:  0;
}
.breadcrumb li{
  padding: 0 10px;
  color: #ffffff;
  position: relative;
  font-weight: 400;
  font-size: 17px;
}
.breadcrumb li a{
  color:#fff;
}
.btn-totop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color:#fff;
  background-color: #5e87eb;
  position:fixed;
  bottom: 50px;
  right:10px;
  cursor:pointer;
  z-index: 99;
}
.wrap-content{padding:0 15px;}

.btn-menu{
  display:none;
}
.limenu,ul.menu li.lihaschild span{
  display:none;
}

@media (min-width: 1200px) {
  
}

@media (max-width: 1200px) {
  .teammember .wrap-content{padding:0 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  ul.menu{
    width: 80%;
    padding:0;
  }
  ul.menu li{
    padding:0 4px;
  }
  .aboutus-item {
    padding: 10px 5px;
  }
  .aboutus-des{
    line-height:1.3;
  }
  .wrap-content{padding:0 10px;}
  .row{margin:0 -10px;}
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding:0 10px;
  }
  .aboutus{
    padding:40px 0 30px;
  }
  .padding,.service,.skill ,.project ,.teammember,.footer{
    padding: 30px 0;
  }
  .title-index{
    margin:0 0 20px 0;
  }
  .project-item{
    margin:10px 0;
  }
  .project-des{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .counter-number{
    font-size:35px;
  }
  .counter-title{
    font-size:16px;
  }
  .footer-title{
    margin:10px 0 15px
  }
}

@media (max-width: 768px) {
  header .wrap-content{
    position: relative;
  }
  .btn-menu{
    display: block;
    position: absolute;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  ul.menu {
    position: fixed;
    width: 70vh;
    max-width: 300px;
    top: 0;
    left: 0;
    height: 100vh;
    display: block !important;
    padding: 0;
    background: #fff;
    transform: translateX(-800px);
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 10px #333;
  }
  ul.menu#oppen{
    transform: translateX(0px);
  }
  ul.menu li{
    border-bottom:1px solid #ccc;
    padding: 0 5px;
  }
  ul.menu li:last-child{
    border-bottom:0 ;
  }
  ul.menu li.limenu{
    display: flex;
    padding: 10px 15px;
    background: #5e87eb;
    color: #fff;
    align-items: center;
    justify-content: space-between;
  }
  ul.menu li.limenu span{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    cursor:pointer;
  }
  ul.menu li.lihaschild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  ul.menu li.lihaschild a{
    width:calc(100% - 24px);
  }
  ul.menu li.lihaschild a > svg {
    display:none;
  }
  ul.menu li.lihaschild span{
    width:24px;
    display:block;
    text-align: center;
  }
  ul.menu li.limenu span svg{

  }
  .ulcat{
    max-width: 100%;
    padding:0 0 0 15px;
    box-shadow: 0px 3px 5px 0px #ccc;
  }
  .ulcat#oppen{
    height: initial;
    overflow: initial;
    position: relative;
  }
  ul.menu>li.lihaschild .ulcat {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition: 0.4s;
    height: 0;
    overflow: hidden;
  }
  ul.ulcat li{
    padding: 0 15px;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo img{
    max-width: 250px;
  }
  .slide .wrap-content,.skill .wrap-content{
    flex-wrap: wrap;
  }
  .main-slider-content{
    width: 100%;
    padding:0 0 10px 0;
  }
  .banner-slider{
    width: 100%;
    padding:0 ;
  }
  .title-slider-content{
    font-size:20px;
  }
  .des-slider-content{
    font-size:15px;
    margin:10px 0 15px;
  }
  .slider-btn a {
    font-size:14px;
    padding: 8px 14px;
  }
  .wrap-content{padding:0 10px;}
  .row{margin:0 -10px;}
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding:0 10px;
  }
  .col-xs-12{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .col-xs-6 {
    width: 50%;
    max-width: 50%;
    flex: 0 0 50%;
  }
  .aboutus{
    padding:20px 0 15px;
  }
  .counter{
    padding:25px 0;
  }
  .padding,.service,.skill ,.project ,.teammember,.footer{
    padding: 15px 0;
  }
  .title-index{
    font-size:22px;
    margin:0 0 10px 0;
  }
  .title-skill{
    font-size:22px;
  }
  .col-project:nth-child(2n+1) .project-item {
    flex-direction: initial;
  }
  .project-item {
    margin: 10px 0;
  }
  .col-project:nth-child(2n+1) .project-item .project-info {
    text-align: left;
    padding: 0 0 0 15px;
  }
  .project-title{
    font-size:18px;
  }
  .project-des{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .des-skill{
    margin-bottom: 15px;
  }
  .skill-item {
    margin: 5px 0;
  }
  a.view-project{
    padding:8px 15px;
  }
  .footer-title{
    margin:15px 0 15px;
  }
  .footer-quick-links li{
    padding:0 0 10px 0
  }
  .about-left,.prject-detail-left{
    width:100%;
    padding:0 0 10px 0;
  }
  .prject-detail-left{
    position: relative;
    top: 0;
  }
  .about-right,.prject-detail-right{
    width:100%;
    padding:0;
  }
  .video-responsive iframe {
    height: 300px !important;
  }
  .news-item{
    margin:10px 0;
  }
  .contentWapper{
    height: 300px;
  }
  .page-title-box{
    padding: 65px 0 0;
  }
  .page-title-content{
    font-size:32px;
  }
  .breadcrumb{
    padding:0;
  }
  .breadcrumb li{
    font-size:16px;
  }
  .counter-title{
    font-size: 15px;
  }
  .counter-number{
    font-size:35px;
  }
  .about-title{
    font-size:20px;
  }
  .content-detail-news {
    font-size: 14px;
    line-height: 23px;
  }
}

@media (max-width: 575.98px) {

}
