.news-item{
    margin:15px 0;
    text-align: center;
}
.news-content{
    padding: 15px 15px; 
}
.news-icon{
    position: relative;
    overflow: hidden;
}
.news-icon img{
    transition: all 0.3s ease 0s;
    transform: scale3d(1, 1, 1);
}
.news-icon:hover img{
    transform: scale3d(1.1, 1.1, 1.1);
}
.news-title{
    color: #505060;
    font-size: 18px;
    margin: 10px 0;
    transition: 0.4s;
    line-height: 26px;
    font-weight: 500;
}
.news-des{
    margin: 0 0 10px 0;
    font-size: 15px;
    color: #6a6c72;
    font-weight: 400;
}
.news-author-date{
    font-size: 13px;
    font-weight: 400;
    margin-right: 15px;
    color: #5e87eb;
}
.news-author-date span{
    padding: 0 5px;
}
.news-author-date svg{
    padding: 0 5px 0 0;
    font-size: 17px;
}
.title-detail-news{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}
.content-detail-news{
    margin:15px 0
}